# Parquet files
*.parquet

# Cache directory
cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 

playground.ipynb
notes.txt

task1/model_checkpoints/plots/*
task1/model_checkpoints/weights/*
task1/model_checkpoints/runs/*

!task1/model_checkpoints/plots/.gitkeep
!task1/model_checkpoints/weights/.gitkeep
!task1/model_checkpoints/runs/.gitkeep

*.ipynb
task1/pretrained_model_weights/
!task1/embeddings/english/.gitkeep
!task1/embeddings/german/.gitkeep
!task1/embeddings/italian/.gitkeep
!task1/embeddings/bulgarian/.gitkeep
!task1/embeddings/arabic/.gitkeep

results/