# Parquet files
*.parquet

# Cache directory
cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 

playground.ipynb
notes.txt

model_checkpoints/plots/*
model_checkpoints/weights/*
model_checkpoints/run_info/*

!model_checkpoints/plots/.gitkeep
!model_checkpoints/weights/.gitkeep
!model_checkpoints/run_info/.gitkeep
